In [22]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('data_new.csv')
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [24]:
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [28]:
train_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [29]:
train_df = train_df.dropna()
train_df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [30]:
for col in train_df.columns:
    display(train_df[col].value_counts())

Loan_ID
LP002936    1
LP002931    1
LP002928    1
LP002926    1
LP002917    1
           ..
LP001011    1
LP001008    1
LP001006    1
LP001005    1
LP001003    1
Name: count, Length: 480, dtype: int64

Gender
Male      394
Female     86
Name: count, dtype: int64

Married
Yes    311
No     169
Name: count, dtype: int64

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

Education
Graduate        383
Not Graduate     97
Name: count, dtype: int64

Self_Employed
No     414
Yes     66
Name: count, dtype: int64

ApplicantIncome
2500     7
4583     6
2600     5
6000     4
4166     4
        ..
5800     1
5923     1
19484    1
3675     1
6133     1
Name: count, Length: 405, dtype: int64

CoapplicantIncome
0.0       216
1666.0      5
2500.0      4
5625.0      3
2083.0      3
         ...
3300.0      1
1000.0      1
4301.0      1
1411.0      1
240.0       1
Name: count, Length: 232, dtype: int64

LoanAmount
120.0    13
110.0    13
100.0    13
187.0    12
128.0     9
         ..
36.0      1
146.0     1
142.0     1
496.0     1
253.0     1
Name: count, Length: 186, dtype: int64

Loan_Amount_Term
360.0    411
180.0     36
480.0     12
300.0      9
120.0      3
84.0       3
60.0       2
240.0      2
36.0       2
Name: count, dtype: int64

Credit_History
1.0    410
0.0     70
Name: count, dtype: int64

Property_Area
Semiurban    191
Urban        150
Rural        139
Name: count, dtype: int64

Loan_Status
Y    332
N    148
Name: count, dtype: int64

In [31]:
train_df['Dependents'].loc[train_df['Dependents']=='3+']=3
train_df['Dependents'].value_counts()

C:\Users\Saini\AppData\Local\Temp\ipykernel_15324\3924387618.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train_df['Dependents'].loc[train_df['Dependents']=='3+']=3

Dependents
0    274
2     85
1     80
3     41
Name: count, dtype: int64

In [32]:
train_df['Total_Income'] = train_df['ApplicantIncome'] + train_df['CoapplicantIncome']
train_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Total_Income
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,3000.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,4941.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,6000.0
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y,9613.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,2900.0
610,LP002979,Male,Yes,3,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,4106.0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,8312.0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,7583.0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,4583.0

In [33]:
train_df.drop(columns=['ApplicantIncome','CoapplicantIncome','Loan_ID'], inplace=True)

In [34]:
train_df

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Total_Income
1,Male,Yes,1,Graduate,No,128.0,360.0,1.0,Rural,N,6091.0
2,Male,Yes,0,Graduate,Yes,66.0,360.0,1.0,Urban,Y,3000.0
3,Male,Yes,0,Not Graduate,No,120.0,360.0,1.0,Urban,Y,4941.0
4,Male,No,0,Graduate,No,141.0,360.0,1.0,Urban,Y,6000.0
5,Male,Yes,2,Graduate,Yes,267.0,360.0,1.0,Urban,Y,9613.0
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,71.0,360.0,1.0,Rural,Y,2900.0
610,Male,Yes,3,Graduate,No,40.0,180.0,1.0,Rural,Y,4106.0
611,Male,Yes,1,Graduate,No,253.0,360.0,1.0,Urban,Y,8312.0
612,Male,Yes,2,Graduate,No,187.0,360.0,1.0,Urban,Y,7583.0
613,Female,No,0,Graduate,Yes,133.0,360.0,0.0,Semiurban,N,4583.0

In [35]:
train_df['Gender']= train_df['Gender'].map({'Male':0, 'Female':1})
train_df['Married']= train_df['Married'].map({'No':0, 'Yes':1})
train_df['Education']= train_df['Education'].map({'Graduate':0, 'Not Graduate':1})
train_df['Self_Employed']= train_df['Self_Employed'].map({'Yes':0, 'No':1})
train_df['Loan_Status']= train_df['Loan_Status'].map({'N':0, 'Y':1})
train_df['Property_Area']= train_df['Property_Area'].map({'Rural':0, 'Semiurban':1, 'Urban':2})

train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            480 non-null    int64
 1   Married           480 non-null    int64
 2   Dependents        480 non-null    object
 3   Education         480 non-null    int64
 4   Self_Employed     480 non-null    int64
 5   LoanAmount        480 non-null    float64
 6   Loan_Amount_Term  480 non-null    float64
 7   Credit_History    480 non-null    float64
 8   Property_Area     480 non-null    int64
 9   Loan_Status       480 non-null    int64
 10  Total_Income      480 non-null    float64
dtypes: float64(4), int64(6), object(1)
memory usage: 45.0+ KB

In [36]:
train_df['Dependents'] = pd.to_numeric(train_df['Dependents'])

In [37]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            480 non-null    int64
 1   Married           480 non-null    int64
 2   Dependents        480 non-null    int64
 3   Education         480 non-null    int64
 4   Self_Employed     480 non-null    int64
 5   LoanAmount        480 non-null    float64
 6   Loan_Amount_Term  480 non-null    float64
 7   Credit_History    480 non-null    float64
 8   Property_Area     480 non-null    int64
 9   Loan_Status       480 non-null    int64
 10  Total_Income      480 non-null    float64
dtypes: float64(4), int64(7)
memory usage: 45.0 KB

In [38]:
train_df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status', 'Total_Income'],
      dtype='object')

In [39]:
X = train_df[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Total_Income']]
y = train_df.Loan_Status
X.shape, y.shape

((480, 10), (480,))

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=5)

In [41]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(max_depth=4, random_state=5)
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=4, random_state=5)

In [42]:
from sklearn.metrics import accuracy_score

pred_val = model.predict(X_val)
accuracy_score(y_val, pred_val)

0.8125

In [43]:
pred_train = model.predict(X_train)
accuracy_score(y_train, pred_train)

0.8307291666666666

In [44]:
import pickle
model_file = open('clf.pkl',mode='wb')
pickle.dump(model, model_file)
model_file.close()

In [ ]:
loan_request = {
    "Gender" : "Male",
    "Married" : "Yes",
    "Dependents" : "3+",
    "Education" : "Not Graduate",
    "Self_Employed" : "Yes",
    "LoanAmount" : 4500,
    "Loan_Amount_Term" : 360,
    "Credit_History" : 1,
    "Property_Area" : "Urban",
    "ApplicantIncome" : 10000,
    "CoapplicantIncome" : 2500
}